@import url('nav.css');

* {
    font-family: "Ubuntu";
}

#apply {
    padding-top: 213px;
}

.sectionheader {
    text-align:center;
    font-weight:bold;
    font-size:24px;
    background-color:#dddddd;
}

h4 {
    text-align:center;
}

.entry {
    display:flex;
    justify-content:center;
}

.entry div {
    width:400px;
}

a.anchor {
    display:block;
    top:-220px;
    position:relative;
    visibility:hidden;
}

ul {
    list-style:none;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
    padding-right:30px;
}

.entry .center {
    width:120px;
    padding-left:30px;
    padding-right:30px;
    vertical-align:middle;
}
